.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__logo {
  width: 147px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}

.footer__logo:hover .footer__logo {
  fill: #d22856;
}

.footer__logo:active .footer__logo {
  opacity: 0.3;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.footer__social-link {
  display: block;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 16px;
}

.footer__social-link--facebook {
  padding-top: 13px;
  padding-left: 18px;
}

.footer__social-item {
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 10px;
}

.footer__social-item:hover {
  border-color: #283645;
}

.footer__social-item:active {
  opacity: 0.1;
}

.footer__social-item:nth-child(3n) {
  margin-right: 0;
}

.footer--main-page {
  display: none;
}

.footer__developers {
  width: 129px;
  margin-top: 30px;
}

.footer__developers-text {
  display: flex;
  align-items: top;
  font-style: normal;
}

.footer__developers-text:hover .footer__developers-svg {
  fill: #283645;
}

.footer__developers-text:active .footer__developers-svg {
  opacity: 0.3;
}

.footer__developers-title {
  padding-top: 7px;
}

.footer__developers-link {
  margin-left: 14px;
}

.footer__logo--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer--main-page {
    display: block;
  }

  .footer__logo {
    margin-right: 0;
    margin-left: 0;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 94%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 36px;
    padding-bottom: 37px;
  }

  .footer__developers {
    margin-top: 14px;
  }

  .footer__developers-title {
    padding-top: 7px;
  }

  .footer__social-list {
    width: 178px;
    margin-right: 18px;
    margin-top: 3px;
  }

  .footer__social-item {
    margin-right: 12px;
  }

  .footer__social-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 940px;
    padding-top: 69px;
    padding-bottom: 72px;
  }

  .footer__developers-title {
    font-size: 18px;
  }

  .footer__developers {
    width: 154px;
    margin-top: 12px;
  }

  .footer__developers-link {
    margin-top: 4px;
    margin-left: 14px;
  }

  .footer__social-list {
    margin-top: 5px;
    margin-right: 0;
    margin-left: 8px;
  }

  .footer__logo--mobile {
    display: none;
  }

  .footer__logo--desktop {
    display: inline;
  }
}
