.form__fieldset-name {
  border: none;
  width: 87.5%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 11px;
}

.form__user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__user-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.form__title {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form__title--legend {
  line-height: 18px;
}

.form__contact-legend {
  display: none;
}

.form__label-title {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  font-weight: normal;
}

.form__user-input,
.form__contact-input {
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 21px;
  padding-bottom: 13px;
  height: 62px;
  border: 2px solid #e5e5e5;

  font-size: 18px;
  line-height: 30px;
  color: #283645;
  font-weight: 400;
}

.form__user-input:hover,
.form__contact-input:hover {
  border-color: #283645;
}

.form__user-input:focus,
.form__contact-input:focus {
  border-color: #d22856;
}

.form__user-input::placeholder,
.form__contact-input::placeholder,
.form__textarea::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  font-weight: normal;
  opacity: 1;
}

.form__user-label {
  margin-left: 23px;
  margin-bottom: 6px;
}

.form__progress-list {
  margin: 0;
  margin-top: 43px;
  padding: 0;
  list-style: none;
}

.form__progress-fieldset-container {
  margin-top: 15px;
  padding-top: 38px;
  background-color: #f2f2f2;
}

.form__progress-fieldset {
  width: 280px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  border: none;
}

.form__progress-legend {
  width: 218px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.form__progress-checkbox {
  width: 200px;
  margin-left: 70px;
}

.form__progress-item {
  position: relative;
  margin-bottom: 52px;
}

.form__progress-item:last-child {
  margin-bottom: 47px;
}

.form__progress-checkbox::before {
  position: absolute;
  content: "";
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.form__progress-checkbox:hover::before {
  border-color: #283645;
}

.form__progress-checkbox:active::before {
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 7px 9px;
  border-color: #d22856;
}

.form_progress-input:checked + .form__progress-checkbox::before {
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 7px 9px;
}

.form_progress-input:checked + .form__progress-checkbox:active::before {
  background-image: none;
}

.form__contact-fieldset {
  width: 87.5%;
  margin: 0;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  padding-bottom: 25px;
  border: none;
}

.form__contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__contact-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form__contact-label {
  width: 140px;
  margin-left: 23px;
  margin-bottom: 5px;
}

.form__os-container {
  padding-top: 38px;
  padding-bottom: 2px;
  background-color: #f2f2f2;
}

.form__os-fieldset {
  width: 280px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  border: none;
}

.form__os-legend {
  width: 180px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.form__os-list {
  margin: 0;
  margin-top: 39px;
  padding: 0;
  list-style: none;
}

.form__os-label {
  position: relative;
  width: 140px;
  margin-left: 70px;
}

.form__os-item {
  // position: relative;
  margin-bottom: 45px;
}

.form__os-label::before {
  position: absolute;
  content: "";
  // top: -4px;
  // left: 0;
  top: -8px;
  left: -70px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.form__os-label:hover::before {
  border-color: #283645;
}

.form__os-label:active::before {
  width: 15px;
  height: 15px;
  border: 10px solid #ffffff;
  background-color: #d22856;
  box-shadow: 0 0 0 2px #d22856;
  // top: -2px;
  // left: 2px;
  top: -6px;
  left: -68px;
}

.form__os-input:checked + .form__os-label::before {
  width: 15px;
  height: 15px;
  border: 10px solid #ffffff;
  background-color: #d22856;
  box-shadow: 0 0 0 2px #e5e5e5;
  // top: -2px;
  // left: 2px;
  top: -6px;
  left: -68px;
}

.form__os-input:checked + .form__os-label:hover::before {
  box-shadow: 0 0 0 2px #283645;
}

.form__os-input:checked + .form__os-label:active::before {
  width: 15px;
  height: 15px;
  border: 10px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #d22856;
  // top: -2px;
  // left: 2px;
  top: -6px;
  left: -68px;
}

.form__textarea-field {
  display: flex;
  flex-direction: column;
  width: 87.5%;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  border: none;
}

.form__textarea {
  width: 100%;
  box-sizing: border-box;
  height: 201px;
  padding-top: 15px;
  padding-left: 19px;
  border: 2px solid #e5e5e5;
  resize: none;
  font-size: 18px;
  line-height: 30px;
}

.form__textarea:hover {
  border-color: #283645;
}

.form__textarea:focus {
  border-color: #d22856;
}

.form__textarea-title {
  width: 186px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 9px;
}

.form__button-container {
  width: 87.5%;
  display: flex;
  flex-direction: column;
  margin-top: 49px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 8px;
}

.form__button {
  width: 100%;
  padding: 16px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: none;
  cursor: pointer;
}

.form__button:hover {
  background-color: #1c9b5e;
}

.form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.form__button:disabled {
  background-color: #e5e5e5;
  cursor: not-allowed;
}

.form__button:active:disabled {
  color: #ffffff;
}

.form__foot-note {
  width: 183px;
  margin-top: 42px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
}

.form__foot-note-attention {
  color: #d22856;
}

.form__foot-note__add {
  display: none;
}

.form_progress-input:focus + .form__progress-checkbox::after {
  position: absolute;
  content: "→";
  bottom: 13px;
  left: 42px;
  color: #d22856;
  font-size: 25px;
  line-height: 10px;
}

.form__os-input:focus + .form__os-label::after {
  position: absolute;
  content: "→";
  bottom: 11px;
  left: -28px;
  color: #d22856;
  font-size: 25px;
  line-height: 10px;
}

@media (min-width: $tablet-width) {
  .form__fieldset-name {
    order: 1;
    width: 93.9%;
    padding-bottom: 0;
  }

  .form__user-input {
    flex-grow: 1;
  }

  .form__user-label {
    margin-top: 17px;
    margin-right: 18px;
    margin-left: 0;
  }

  .form__user-item {
    flex-direction: row;
    margin-bottom: 53px;
  }

  .form__structure {
    display: flex;
    flex-direction: column;
  }

  .form__os-container {
    order: 2;
    margin-top: 6px;
    padding-top: 0;
    background-color: #ffffff;
  }

  .form__os-fieldset {
    width: 93.4%;
    padding-bottom: 15px;
    border: 2px solid #e5e5e5;
  }

  .form__os-legend {
    width: 370px;
  }

  .form__os-list {
    margin-top: 47px;
  }

  .form__os-label {
    margin-left: 118px;
  }

  .form__os-label::before, {
    // top: -3px;
    // left: 58px;
    left: -60px;
  }

  .form__os-label:active::before {
    // top: -1px;
    // left: 60px;
    left: -58px;
  }

  .form__os-input:checked + .form__os-label::before {
    // top: -1px;
    // left: 60px;
    top: -6px;
    left: -58px;
  }

  .form__os-input:checked + .form__os-label:active::before {
    // top: -1px;
    // left: 60px;
    top: -6px;
    left: -58px;
  }

  .form__contact-fieldset {
    order: 3;
    width: 93.4%;
    margin-top: 55px;
    padding-bottom: 0;
    border: 2px solid #e5e5e5;
  }

  .form__contact-legend {
    display: block;
    width: 258px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .form__contact-item {
    flex-direction: column-reverse;
    margin-bottom: 25px;
  }

  .form__contact-item:last-child {
    margin-bottom: 22px;
  }

  .form__contact-input {
    margin-right: 58px;
    margin-left: 56px;
    margin-bottom: 10px;
    padding-right: 80px;
  }

  .form__contact-input--phone {
    background:
      url("../img/phone.svg") no-repeat right 20px bottom 20px,
      linear-gradient(to left, #e5e5e5 62px, #ffffff 62px, #ffffff 100%);
  }

  .form__contact-input--mail {
    background:
      url("../img/mail.svg") no-repeat right 22px bottom 22px,
      linear-gradient(to left, #e5e5e5 62px, #ffffff 62px, #ffffff 100%);
  }

  .form__contact-list {
    padding-top: 37px;
  }

  .form__contact-label {
    margin-left: 79px;
  }

  .form__progress-fieldset-container {
    order: 4;
    margin-top: 19px;
    background-color: #ffffff;
  }

  .form__progress-fieldset {
    width: 93.4%;
    padding-bottom: 6px;
    border: 2px solid #e5e5e5;
  }

  .form__progress-legend {
    width: 435px;
  }

  .form__progress-list {
    margin-top: 48px;
  }

  .form__progress-checkbox {
    margin-left: 118px;
    display: block;
  }

  .form__progress-checkbox::before {
    left: 58px;
  }

  .form__textarea-field {
    order: 5;
    width: 93.4%;
    margin-top: 51px;
    border: 2px solid #e5e5e5;
  }

  .form__textarea-title {
    margin-bottom: 0;
    width: 259px;
    text-align: center;
  }

  .form__textarea {
    width: 81%;
    height: 193px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 51px;
  }

  .form__button-container {
    order: 6;
    width: 94%;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 67px;
    padding-bottom: 50px;
  }

  .form__button {
    width: 48%;
  }

  .form__foot-note {
    margin: 0;
    margin-top: 24px;
    margin-left: auto;
  }

  .form_progress-input:focus + .form__progress-checkbox::after {
    left: 18px;
    font-size: 30px;
  }

  .form__os-input:focus + .form__os-label::after {
    content: "→";
    left: -97px;
    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form__structure {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__fieldset-name {
    width: 470px;
    margin: 0;
    padding: 0;
    margin-top: 19px;
    margin-right: 35px;
  }

  .form__user-item {
    width: 435px;
    margin-bottom: 55px;
  }

  .form__user-item:last-child {
    margin-bottom: 0;
  }

  .form__os-fieldset {
    width: 431px;
    margin: 0;
  }

  .form__os-list {
    margin-top: 49px;
  }

  .form__os-label {
    margin-left: 134px;
  }

  .form__os-label::before {
    // left: 74px;
    left: -60px;
  }

  // .form__os-label:active::before {
  //   top: -0.5px;
  //   left: 76px;
  // }

  .form__os-input:checked + .form__os-label::before {
    // top: -1px;
    // left: 76px;
    left: -58px;
  }

  // .form__os-input:checked + .form__os-label:active::before {
  //   top: -1px;
  //   left: 76px;
  // }

  .form__contact-fieldset {
    width: 940px;
    margin-top: 53px;
  }

  .form__contact-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 36px;
    padding-bottom: 9px;
    align-items: flex-start;
  }

  .form__contact-label {
    margin-left: 77px;
  }

  .form__contact-input {
    width: 374px;
    margin: 0;
    margin-left: 59px;
    margin-bottom: 10px;
    padding-left: 18px;
  }

  .form__contact-item {
    margin-bottom: 0;
  }

  .form__contact-item:nth-child(2n) {
    margin-left: auto;
    margin-right: 58px;
  }

  .form__contact-item:last-child {
    margin-bottom: 0;
  }

  .form__user-input {
    padding-left: 21px;
  }

  .form__progress-fieldset-container {
    width: 936px;
  }

  .form__progress-fieldset {
    width: 100%;
    padding-bottom: 8px;
  }

  .form__progress-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 47px;
  }

  .form__progress-item {
    width: 200px;
    margin: 0;
    // margin-left: 112px;
    margin-bottom: 52px;
  }

  // .form__progress-item:last-child {
  //   margin-left: 112px;
  // }

  .form__progress-checkbox {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .form__progress-checkbox::before {
    left: -58px;
  }
  // .form__progress-item:nth-child(3n) {
  //   margin-right: 0;
  // }

  .form__progress-item--selfie {
    order: 1;
    margin-left: 116px;
  }

  .form__progress-item--tan {
    order: 4;
    margin-left: 116px;
  }

  .form__progress-item--chuck {
    order: 2;
    margin-left: 115px;
  }

  .form__progress-item--souvenir {
    order: 5;
    margin-left: 115px;
  }

  .form__progress-item--tower {
    order: 3;
    margin-left: 97px;
  }

  .form__progress-item--hotel {
    order: 6;
    margin-left: 96px;
  }

  .form__textarea-field {
    width: 940px;
  }

  .form__textarea {
    width: 820px;
    height: 128px;
    margin-top: 28px;
    margin-bottom: 43px;
  }

  .form__button-container {
    width: 940px;
    margin-top: 65px;
    padding-bottom: 2px;
  }

  .form__button {
    width: 300px;
  }

  .form__foot-note {
    width: 314px;
  }

  .form__foot-note__add {
    display: inline;
  }

  .form_progress-input:focus + .form__progress-checkbox::after {
    left: -93px;
    font-size: 30px;
  }
}
