.panorama {
  margin-bottom: 1px;
}

.panorama__image-container {
  position: relative;
}

.panorama__title {
  position: absolute;
  box-sizing: border-box;
  width: 140px;
  min-height: 36px;
  top: 1px;
  right: 20px;
  margin-top: 0;
  padding-left: 19px;
  padding-top: 5px;

  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #d22856;
}

.panorama__image-link {
  display: block;
  padding-top: 1px;
}

.panorama__image {
  display: block;
  width: 100%;
  min-height: 100%;
}

@media (min-width: $tablet-width) {
  .panorama__image-container {
    width: 100%;
    height: 509px;
  }

  .panorama__image-link {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .panorama__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }

  .panorama__title {
    top: 57px;
  }
}

@media (min-width: $desktop-width) {
  .panorama__title {
    top: 54px;
    right: 10px;
  }

  .panorama__image-container {
    width: 100%;
    max-width: 1200px;
    height: 505px;
    margin-left: auto;
    margin-right: auto;
  }
}
